<footer>
  <div class="container">
    <p class="text-muted credit hidden-xs">{{ cookiecutter.copyright }} - 
      {% raw -%}
      <a data-pjax href="{{ url_for('LegalView:terms_of_use') }}">Terms of Use</a>&nbsp;-&nbsp;
      <a data-pjax href="{{ url_for('LegalView:privacy') }}">Privacy</a>
      {%- endraw %}
    </p>
    <p class="text-muted credit-xs visible-xs">{{ cookiecutter.copyright }}</br>
      {% raw -%}
      <a data-pjax href="{{ url_for('LegalView:terms_of_use') }}">Terms of Use</a> - 
      <a data-pjax href="{{ url_for('LegalView:privacy') }}">Privacy</a>
      {%- endraw %}
    </p>
  </div>
</footer>
